---
layout: default
title: Seawisp Hunter Posts
description: "Posts contains videos of vtgamedev.com talks, @shanecelis' Mockup Mondays, and blog posts."
img: "img/all-posts.png"
---

    {% include portfolio_grid.html %}
    {% include about.html %}


<!-- <div class="home row"> -->
<!--   <div class="col-lg-12 text-center"> -->
<!--   <h1>Posts</h1> -->
<!--   </div> -->
<!--   <ul class="posts"> -->
<!--     {% for post in site.posts %} -->
<!--       <li> -->
<!--         <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span> -->
<!--         <a class="post-link" href="{{ post.url }}">{{ post.title }}</a> -->
<!--       </li> -->
<!--     {% endfor %} -->
<!--   </ul> -->
  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
<!-- </div> -->
