<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.name %}{{ page.name }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

    <!-- Open Graph facebook properties -->
    <meta property="fb:admins" content="743717857">
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{% if page.name %}{{ page.name }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:image" content="{{ page.img | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:updated_time" content="{% if page.date %}{{ page.date | date_to_xmlschema }}{% else %}{{ site.time | date_to_xmlschema }}{% endif %}">


    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">

    <!-- Twitter properties -->
    {% if page.video-id %}
    <meta name="twitter:card" content="player">
    <meta name="twitter:player" content="https://www.youtube.com/embed/{{ page.video-id }}">
    <meta property="og:video" content="https://www.youtube.com/embed/{{ page.video-id }}">
    <meta name="twitter:player:stream" content="https://www.youtube.com/embed/{{ page.video-id }}">
    <meta name="twitter:player:stream:content_type" content="video/mp4; codecs=&quot;avc1.42E01E1, mp4a.40.2&quot;">
    <meta name="twitter:player:width" content="350">
    <meta name="twitter:player:height" content="196">
    {% else %}
    <meta name="twitter:card" content="summary_large_image">
    {% endif %}
    <meta name="twitter:site" content="{{ site.twitter }}">
    <meta name="twitter:creator" content="{{ site.twitter }}">
    <meta name="twitter:title" content="{% if page.name %}{{ page.name }}{% else %}{{ site.title }}{% endif %}">
    <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="twitter:image" content="{{ page.img | prepend: site.baseurl | prepend: site.url }}">

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ "css/bootstrap.min.css" | prepend: site.baseurl }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "css/highlight.css" | prepend: site.baseurl }}">
    <link rel="image_src" href="{{ page.img | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ "css/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- favicon (generated by iconifier.net) -->
    <link rel="shortcut icon" href="/img/favicon/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/img/favicon/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon-180x180.png" />
    <script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}, processEscapes: true,
});
    </script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55603708-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
