<section id="notifyme">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <hr class="star-primary">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Don't miss the next article!</h3>
      </div>
    </div>

    <div id="mc_embed_signup" class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <form action="//seawisphunter.us9.list-manage.com/subscribe/post?u=96092657377c3cb9623174c8e&amp;id=6815db954f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

          <div class="row control-group">
            <div class="form-group col-xs-9 floating-label-form-group controls">
              <label>Email Address</label>
              <input type="email" class="form-control" placeholder="Email Address" name="EMAIL" id="mce-EMAIL" required data-validation-required-message="Please enter your email address.">
              <p class="help-block text-danger"></p>
            </div>
            <div class="form-group col-xs-3">
              <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success btn-lg">Notify me!</button>
            </div>
          </div>
          <div style="display:none" class="mc-field-group input-group">
            <strong>Interested In? </strong>
            <ul><li><input type="checkbox" value="1" name="group[20937][1]" id="mce-group[20937]-20937-0" checked><label for="mce-group[20937]-20937-0">New Articles</label></li>
            </ul>
          </div>
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_96092657377c3cb9623174c8e_6815db954f" tabindex="-1" value=""></div>
          <br>
          <div id="success"></div>
        </form>
      </div>
    </div>
  </div>
</section>
