<!DOCTYPE html>
<html>

  {% include head.html %}
  <script type="text/javascript" src="/js/jquery-1.11.0.js"></script>
  <body id="page-top" class="index">

    {% include navigation.html %}
    <div class="page-content">
      <section id="content">
        <div class="container">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <img class="img-responsive center-block img-rounded" src="{{ page.img | prepend: site.baseurl }}" alt="">
            <h2>{{ page.title }}</h2>
            <hr class="star-primary">
          </div>
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2 blog-main wrap">
              {{ content }}
            </div>
          </div>
          {% include byline.html page=page %}
        </div>
      </section>
    </div>
    {% include notifyme.html %}
    {% include footer.html %}
    {% include js.html %}
    <!-- http://ben.balter.com/2014/03/13/pages-anchor-links/ -->
    <script>
      $(function() {
      return $("h2, h3, h4, h5, h6").each(function(i, el) {
      var $el, icon, id;
      $el = $(el);
      id = $el.attr('id');
      icon = '<i class="fa fa-link"></i>';
      if (id) {
      return $el.prepend($("<a />").addClass("header-link").attr("href", "#" + id).html(icon));
      }
      });
      });
    </script>

  </body>
</html>
