<!DOCTYPE html>
<html>

  {% include head.html %}
  {% if page.video-id %}
  <script src="https://www.youtube.com/iframe_api"></script>

  <script type="text/javascript">
      // 3. This function creates an <iframe> (and YouTube player)
//    after the API code downloads.
var player;

          function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
        events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
        }
    });
}

// 4. The API will call this function when the video player is ready.
function onPlayerReady(event) {
          //event.target.playVideo();
}

function onPlayerStateChange(event) {
    if (event.data == YT.PlayerState.PLAYING) {

    }
}
// Seek to a certain portion of the video. Then go to
function gotoVideo(minutes, seconds) {
          player.seekTo(minutes * 60 + seconds, true);
          window.location.href = "#top";
      }
  </script>
  {% endif %}
  <body id="page-top" class="index">
    <a name="top"></a>
    {% include navigation.html %}
    <div class="page-content">
      <section id="content">
        <div class="container">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            {% if page.video-id %}
            <div class="embed-responsive embed-responsive-16by9">
              <a name="video"></a>
              <iframe id="player" class="embed-responsive-item" src="//www.youtube.com/embed/{{ page.video-id }}?enablejsapi=1" allowfullscreen></iframe>
            </div>
            {% elsif page.img %}
            <img class="img-responsive center-block img-rounded" src="{{ page.img | prepend: site.baseurl }}" alt="">
            {% endif %}
            <h2>{{ page.title }}</h2>
            <hr class="star-primary">
          </div>
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2 blog-main wrap">
              {{ content }}
            </div>
          </div>
          {% include byline.html page=page %}
        </div>
      </section>
    </div>

    <!-- Next and Prev Links Section (Copied from About Section) -->
    {% if page.previous.url or page.next.url %}
    <section class="success" id="next-prev">
        <div class="container">
            <!-- <div class="row"> -->
            <!--     <div class="col-lg-12 text-center"> -->
            <!--         <h2>About</h2> -->
            <!--         <hr class="star-light"> -->
            <!--     </div> -->
            <!-- </div> -->
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                  <p>{% if page.previous.url %}
          <a class="prev" href="{{page.previous.url}}"><i class="fa fa-arrow-left" aria-hidden="true"></i> {{page.previous.title | abbr_compress}}</a>
          {% endif %}</p>
                </div>
                <div class="col-lg-4">
                  <p>{% if page.next.url %}
          <a class="next pull-right" href="{{page.next.url}}">{{page.next.title | abbr_compress}} <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
          {% endif %}</p>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    {% include notifyme.html %}
    {% include footer.html %}
    {% include js.html %}
    {% include add-anchors.html %}
  </body>
</html>
